body{
    margin: 0;
    overflow-x: hidden;
}

.heading{
    font-weight: bold;
    font-size: ;

}
*{
    margin: 0;
    font-family: 'inter';
    padding: 0;
}

:root{
    --primary-color:  #99CC33;
    --secondary-color:  #C2C2F0

}
nav{
    width: 100vw;
    height: 60px;
    background-color:  var(--primary-color);
    position: fixed;
}

.title{
    margin-left: 55px;
    margin-bottom: 0;
}

.nav-list{
    margin-right: 55px;
    margin-bottom: 0;
    font-size: 17px;
}

.nav-item{
    list-style-type: none;
    padding: 0 20px;
    border-left: 2px solid black;
}

.nav-link{
    text-decoration: none;
    color: unset;
}

.nav-link:hover{
    transform: scale(1.1);
    transition: 0.4s
}


/* Hero */

.hero{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
}

.overview{
    font-size: 35px;
    flex-wrap: wrap;
}

.descriptions{
    list-style-type: none;
}

.bars{
    border-left: 2px solid black;
    padding: 0 40px;
    margin: 0 40px;
    border-right: 2px solid black; 
}

.enroll{
    padding: 7px 20px;
    background-color: black;
    margin-top: 15px;
    text-decoration: none;
    color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

.enroll:hover{
    
    color: var(--primary-color);
    transition: .4s
}

/* About */

.features{
    width: 100%;
}

.feat-container{
    flex-wrap: wrap;
}
.feat{
    margin: 20px; 
    margin-top: -130px;
    flex-wrap: wrap;
    width:265px;
    height: 360px;
    background-color: navy;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
}

@media (max-width: 720px){
    .feat-container{
        flex-direction: column;
    }

    .feat{
        margin-top: 20px
    }
}


.feat-text{
    margin-top: 90%;
    color: white;
}
.feat-des{
    font-size: 14;

}


.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.about-container{
    width: 100%;
    height: auto;
    margin-top: 30;
    align-items: center;

}


@media (max-width: 900px){  
    .about-container{
        flex-direction: column;

    }
}
.about-text{
    width: 390px;
}

.about-des{
    font-size: 14;
    margin-top: 15px;
}
.about-img{
    width: 390px;
    height: 240px;
}